header{
    background-color:orangered;
}

section > h1 {

    padding: 0.5rem;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
}

section > p{
    display: flex;
    justify-content:center;
    font-size: 2rem;
}


header > nav{
    display: flex;
    justify-content:center;
    gap: 3rem;
    font-size: 3rem;

}

nav > a{
    text-decoration: none;
    color: aliceblue;
}

section > figure{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

figure > img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

:root{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
    justify-content: space-around;
    align-items: center;
}
.box {
    background-color: #aaa;
    min-width: 350px;
    height: 400px;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.img {
    background: #eee;
    width: 90%;
    max-height: 300px;
    flex: 1 0;
}
.buttons {
    width: 90%;
    min-height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
}
.buttons button {
    flex: 1 0;
    border: none;
    border-radius: 5px;
    background-color: #eee;
}
.buttons button:hover {
    /* background-color: rgba(195, 195, 195, 0.933); */
    border: solid black 1px;
    cursor: pointer;
}
.box:hover {
    cursor: pointer;
    transform: scale(1.1);
}

footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
footer > section {
    padding: 0.5rem;
}

footer > section:nth-child(odd){
    background-color: rgb(106, 61, 190);
}
footer > section:nth-child(even){
    background-color: rgb(68, 26, 145);
}

footer section p{
    color: aquamarine;
    font-size: 0.8rem;
}

